/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* 
 * Tells the browser to account for any border and padding in the values you 
 * specify for an element's width and height. 
 */
*,
*::before,
*::after {
  box-sizing: border-box
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
  --ff-text: 'Roboto', sans-serif;
  --ff-mono: 'Roboto Mono', monospace;
  /* --ff-title: 'Roboto Slab', serif; */
  --ff-title: 'Roboto', sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-double-dark: #181a1b;
  --clr-accent: #40826D;

  --fs-h1: 2.25rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --shadow: 0.25em 0.25em 0.75em rgba(0,0,0.25),
            0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

/* Larger fonts for larger screens */
@media (min-width: 900px) {
  :root {
    --fs-h1: 3.00rem;
    --fs-h2: 3.00rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--ff-text);
  font-size: var(--fs-body);
}

section {
  padding: 1em 2em;
}

img {
  display: block;
  max-width: 100%;
}

/* ====== Typography ====== */

strong { font-weight: var(--fw-bold)}

h1, h2, h3 {
  line-height: 1;
  margin: 0;
  text-align: center;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
  font-family: var(--ff-title);
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.intro--title {
  font-weight: var(--fw-reg);
  font-family: var(--ff-mono);
}

.intro--title strong {
  color: var(--clr-accent);
}

.intro--subtitle {
  margin: 0;
  font-family: var(--ff-mono);
  font-size: var(--fs-h1);
}

/* Adds line after section titles */
.section__title::after {
  content: '';
  display: block;
  width: 25%;
  height: 1px;
  margin: 0.25em auto .5em;
  background: var(--clr-accent);
  opacity: 50%;
}

/* ====== Intro section ====== */

nav { display: none; } /* TODO temp */

.intro {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

/* ====== About section ====== */
.about-me {
  color: var(--clr-light);
  background-color: var(--clr-accent);
  background-image: url(../public/img/Skyline\ Boston\ by\ ReneS.jpg);
  background-blend-mode: multiply;
  background-size: cover;
}

.section__title--about {
  padding-top: .5em;
}

.about-me__content-pane {
  background-color: rgba(0, 0, 0, 0.5);
  
  box-shadow: var(--shadow);
  border-radius: .5em;
}

.about-me__body {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

img#headshot {
  min-width: 200;
  z-index: 2;
  filter: drop-shadow(0px 1px 15px var(--shadow));
  padding: 4%;
}

.about-me__text {
  padding: 4%;
}


/** ====== My work section ====== */
.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem; /** TODO this currently adds gap to the right of last element*/
  justify-content: center;
}

.portfolio__item {
  flex: 1 0 200px;
  background: var(--clr-double-dark);
  border-radius: 5px;
  box-shadow: var(--shadow);
  max-width: 350px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  transition: all 200ms ease-in-out;
}

.portfolio__item:hover {
  transform: translateY(-.25rem);
}

.portfolio__item--content {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.portfolio__item--title {
  font-size: var(--fs-h3);

}

.portfolio__img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.portfolio__item--snippet {
  font-size: var(--fs-body);

}

.portfolio__item--buttons {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-top: auto;
}

.portfolio__item--buttons>.button {
  width: 100%;
  margin: 0;
}

/** ====== Contact Section ====== */
.contact__form {
  margin: 10%;
}

.contact__form>#submit {
  
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: .5em;
  resize: vertical;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

